body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main {
    padding: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#resultsContainer {
    margin-top: 20px;
}

/* Estilo para la tabla */
#productsTable {
    border-collapse: collapse;
    width: 100%;
}

#productsTable th, #productsTable td {
    border: 1px solid #000; /* Borde negro para las celdas */
    padding: 8px;
    text-align: left;
}

#productsTable th {
    background-color: #add8e6; /* Fondo celeste claro para la cabecera de columna */
}

/* Estilo para los elementos de los productos */
#productsTable tbody tr:nth-child(even) {
    background-color: #d3d3d3; /* Fondo gris para filas pares */
}
